* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

/*!Fuentes personalizadas*/
@font-face {
  font-family: 'Sono', sans-serif;
  src: url(/Fonts/Sono,Yantramanav/Sono/Sono-Medium.ttf);
}

@font-face {
  font-family: "Yantramanav", sans-serif;
  src: url(/Fonts/Sono,Yantramanav/Yantramanav/Yantramanav-Black.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yantramanav", sans-serif;
}

body {
  font-family: "Yantramanav", sans-serif;
}

/*Estilos para todos los contenedores*/
.container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

/*textos del background*/
.head {
  font-family: 'Sono', sans-serif;
  font-style: italic;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 35px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}

.header {
  height: 100vh;
  background-image: linear-gradient(-20deg,
      rgba(97, 97, 97, 0.616) 0%,
      rgba(1, 80, 207, 0.575) 100%),
    url(../Img/Logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.boton_nav {
  position: fixed;
  top: 30px;
  right: 30px;
  background: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px #30cfd0;
}

.menu-navegacion {
  position: fixed;
  top: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #085467 100%);
  background-image: linear-gradient(135deg, #667aea 0%, #4b7fa2 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread {
  transform: translate(0);
}

.menu-navegacion a {
  font-family: 'Sono', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.menu-navegacion :hover {
  padding: 15px;
  width: 100%;
  background: #30cfd0;
  color: #000000;
  border: 3px solid #000000;
  border-radius: 5px;
  font-size: 25px;
  transform: scale(0.9);
  text-align: center;
}

/*services*/
.subtitulo {
  font-style: italic;
  text-align: center;
  font-size: 40px;
  color: rgb(164, 233, 25);
  margin-bottom: 5px;
}

.contenedor-servicio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contenedor-servicio img {
  width: 40%;
}

.checklist-servicio {
  width: 45%;
}

.services {
  margin-bottom: 10px;
}

.service h3 {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.services p {
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  text-align: justify;
  font-size: 18px;
}

.n-service {
  margin-bottom: 7px;
  color: rgb(164, 233, 25);

}

.number {
  display: inline-block;
  background: #30cfd0;
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
}

/*Galery*/
.gallery {
  background: #f2f2f2;
}

.gallerytitle{
  margin-bottom: -30px;
  margin-top: 30px;
}
.contenedor-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;

}

.img-galeria {
  width: 30%;
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

/*slider*/
.imagen-light {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.534);
  transform: translate(100%);
  transition: transform .2s ease-in-out;
}

.agregar-imagen {
  width: 60%;
  transform: scale(0);
  border-radius: 10px;
  transition: transform .3s .3s;
}

.showImage {
  transform: scale(1);
}

.show {
  transform: translate(0);
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
  color: black;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px #30cfd0;
}

.Left {
  position: absolute;
  top: 280px;
  left: 103px;
  width: 40px;
  cursor: pointer;
  color: black;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px #30cfd0;
}

.Right {
  position: absolute;
  top: 280px;
  right: 103px;
  width: 40px;
  cursor: pointer;
  color: black;
  background: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px #30cfd0;
}

/*transition button "left and right"*/

@keyframes square-in-center {
  from {
    clip-path: inset(100% 100% 100% 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

.square-in-center {
  animation: 1s cubic-bezier(.25, 1, .30, 1) square-in-center both;
}


/*Formulario*/

.contenedor-formulario{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.info{
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;  
}

.info img{
  height: 540px;
  width: 100%;
  margin-top: 10px;

}

.subtitulo_info{
  font-style: italic;
  text-align: center;
  color: rgb(164, 233, 25);
  margin-bottom: 5px;
}

.info,.info_two p {
  font-family: 'Sono', sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}

/*styles formulario*/

.conte_formulario {
 margin: 15px;
  font-family: 'Sono', sans-serif;
}

.conte_formulario label{
  font-family: "Yantramanav", sans-serif;
  font-weight: bold;
}
.conte_formulario ::placeholder{
  font-family: "Yantramanav", sans-serif;
  font-style: italic;
  font-size: 15px;
}
.conte_formulario small{
  font-family: "Yantramanav", sans-serif;
  font-style: italic;
  font-size: 15px;
  margin-left: 25%;
}

.conte_formulario  input,
.conte_formulario  button,
.conte_formulario  textarea {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  font-family: 'Sono', sans-serif;
  font-size: 15px;
  border-bottom: 2px solid #30cfd0;
}

.conte_formulario textarea{
  min-width: 100%;
  max-width: 0;
  min-height: 60px;
  max-height: 0;

}

.conte_formulario select {
  font-family: 'Sono', sans-serif;
  font-size: 15px;
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 2px solid #30cfd0;
}

.contenedor-formulario select option[value="placeholder"]{
  font-family: "Yantramanav", sans-serif;
  font-style: italic;
  font-size: 15px;
}

.conte_formulario input[type="time"]{
  font-family: 'Sono', sans-serif;
  font-size: 15px;
}


.conte_formulario .btn_formulario {
  display: block;
  font-family: "Yantramanav", sans-serif;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  width: 120px;
  height: 40px;
  background: rgb(3, 3, 3);
  border-radius: 3px;
  border-bottom: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px auto;
}

.conte_formulario .btn_formulario:hover{
  background: #30cfd0;
  border: 2px solid #000000;
  color: #000000;
  transform: scale(1.1);
}



/*experts*/
.experts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cont-expert {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.cont-expert img {
  display: block;
  margin: auto;
  width: 80%;
  height: 300px;
}

.n-expert {
  font-family: 'Sono', sans-serif;
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
}

/*footer*/
footer {
  background-image: linear-gradient(to top, #30cfd0 0%, #085467 100%);
  background-image: linear-gradient(135deg, #667aea 0%, #4b7fa2 100%);
  padding-bottom: 0.1px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 40px;
}

.contact-us {
  margin-left: 100px;
  text-align: center;
  right: 0;
  width: 40%;
  color: #fff;

}

.brand {
  font-weight: 500;
  font-size: 40px;
}

.brand+p {
  font-weight: 500;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: center;

}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}

/*Hover social icons*/

.social-media-icon .fa-facebook-f:hover {
  color: #fff;
  background: rgb(14, 140, 233);
  transform: scale(1.1);
  border-radius: 50%;
  width: 58px;
  height: 58px;
}

.social-media-icon .fa-instagram:hover {
  color: #fff;
  background-image: linear-gradient(45deg,
      hsl(44deg 99% 73%) 0%,
      hsl(38deg 97% 66%) 8%,
      hsl(32deg 96% 60%) 17%,
      hsl(26deg 96% 55%) 25%,
      hsl(9deg 95% 62%) 33%,
      hsl(349deg 84% 59%) 42%,
      hsl(333deg 68% 50%) 50%,
      hsl(321deg 77% 45%) 58%,
      hsl(307deg 71% 42%) 67%,
      hsl(283deg 61% 47%) 75%,
      hsl(268deg 56% 52%) 83%,
      hsl(252deg 58% 57%) 92%,
      hsl(235deg 61% 57%) 100%);
  border-radius: 50%;
  transform: scale(1.1);
  width: 58px;
  height: 58px;
}

.social-media-icon .fa-linkedin-in:hover {
  color: #fff;
  background: #0074b0;
  transform: scale(1.1);
  border-radius: 50%;
  width: 58px;
  height: 58px;
}

.social-media-icon .fa-whatsapp:hover {
  color: #fff;
  background: #1acc3e;
  transform: scale(1.1);
  border-radius: 50%;
  width: 58px;
  height: 58px;
}

/*Responsive*/
@media screen and (max-width: 1237px){
  .info {
    width: 50%;
  }

  .info_two {
    width: 50%;
  }

 

@media screen and (max-width: 1000px){
  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
    
    
  }
  .social-media {
    width: 80%;
    justify-content: space-evenly;
    margin-left: 100px;
  }

  

}
@media screen and (max-width: 800px) {
  .header {
    height: 50vh;
  }

  .menu-navegacion {
    width: 50vw;
  }

  .titulo {
    font-size: 40px;
  }

  .contenedor-servicio img {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .checklist-servicio {
    width: 80%;
  }

  .service {
    margin-bottom: 30px;
  }

  .img-galeria {
    width: 45%;
  }

  .agregar-imagen {
    width: 70%;
  }

  .Left {
    left: 20px;
  }

  .Right {
    right: 20px;
  }

  .conte_formulario{
    margin-left: 0;
  }

  .info {
    width: 100%;
  }

  .info img{
    width: 80%;
    height: 400px;
  }

  .info_two {
    width: 90%;
  }

  .cont-expert {
    width: 80%;
  }

  .footer-content {
    justify-content: center;
  }

  .social-media {
    width: 80%;
    justify-content: space-evenly;
    margin-right: 80px;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
    margin-right: 80px;
  }

}


@media screen and (max-width: 500px) {
  .menu-navegacion {
    width: 65vw;
  }

  .boton_nav {
    top: 20px;
    right: 20px;
  }

  .titulo {
    font-size: 30px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .img-galeria {
    width: 95%;
  }

  .agregar-imagen {
    width: 75%;
    height: 50%;
  }

  .Left {
    left: 10px;
    width: 30px;
    top: 290px;
  }

  .Right {
    right: 10px;
    width: 30px;
    top: 290px;
  }

  .conte_formulario small{
    margin-left: 10%;
  }

  .social-media {
    width: 100%;
    justify-content: space-evenly;
    margin-left: 80px;
  }

  .social-media-icon {
    margin-left: 10px;
  }

  .contact-us {
    text-align: center;
    width: 65%;
    margin-bottom: 40px;
    margin-left: 80px;
    font-size: 12px;
  }
  
}