* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
}

/*!Fuentes personalizadas*/
@font-face {
  font-family: "Righteous", cursive;
  src: url(/Fonts/RighteousYantramanav/Righteous/Righteous-Regular.ttf);
}

@font-face {
  font-family: "Yantramanav", sans-serif;
  src: url(/Fonts/RighteousYantramanav/Yantramanav/Yantramanav-Black.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
}

body {
  font-family: "Yantramanav", sans-serif;
}
/*Estilos para todos los contenedores*/
.container{
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}
/*textos del background*/
.head {
  font-family: "Righteous", cursive;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 35px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      -20deg,
      rgba(97, 97, 97, 0.616) 0%,
      rgba(1, 80, 207, 0.575) 100%
    ),
    url(/Img/Logo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.boton_nav {
  position: fixed;
  top: 30px;
  right: 30px;
  background: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 10px rgba(0, 4, 255, 0.575);
}

.menu-navegacion {
  position: fixed;
  top: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #085467 100%);
  background-image: linear-gradient(135deg, #667aea 0%, #4b7fa2 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  transform: translateX(110%);
  transition:transform 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
.spread {
  transform: translate(0);
}
.menu-navegacion a{
  font-family: "Righteous", cursive;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.menu-navegacion :hover{
  padding: 15px;
  width: 100%;
  background: #620867; /*Cambiar*/
  text-align: center;
}

/*RESPONSIVE*/
/* @media screen and (max-width: 1176px) {
  .header{
   width: 110%;
   
  }
} */
@media screen and (max-width: 800px){
  .header{
    height: 50vh;
  }
  .menu-navegacion{
      width: 50vw;
  }

  .titulo{
      font-size: 40px;
  }
}
@media screen and (max-width: 500px){
  .menu-navegacion{
      width: 65vw;
  }

  .boton_nav{
      top: 20px;
      right: 20px;
  }

  .titulo{
      font-size: 30px;
  }
}